/* copyrights BTC all rights reserved */
/* developer AMAN KUMAR v-0.3.3 */


html, body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    /* background-color: #333646; */
    background-color: #212121;
    transition: background-color 1s ease;
}

/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                           DARK-LIGHT MODE TOGGLE SWITCH STYLE                                       */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

/* 'CSS4' if primary input of device is mouse or trackpad */
@media (pointer: fine) {
    .theme-toggle-btn {
        position: fixed;
        /* bottom: 120px; */
        bottom: 30px;
        /* right: 100px; */
        right: 30px;
        animation: bounce ease 2.5s infinite;
        animation-delay: 1s;
        transition: all 0.3s ease;
        z-index: 2001;
    }

    .theme-toggle-btn:hover {
        animation: none;
    }
}
/* 'CSS4' if primary input of device is touch */
@media (pointer: coarse) {
    .theme-toggle-btn {
        position: fixed;
        bottom: 70px;
        right: 70px;
        z-index: 2001;
    }
}
/* buttons */
.light-theme, .dark-theme {
    background-color: #ffffff;
    border-radius: 100%;
    position: absolute;
    height: 50px;
    width: 50px;
    border: none!important;
    outline: none!important;
    border: none!important;
}
/* light-theme button show when dark mode is active */
.light-theme {
    animation: zoomIn ease 0.6s;
}
/* dark-theme button show when light mode is active */
.dark-theme {
    display: none;
    background-color: #303030;
    animation: zoomIn ease 0.6s;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#dark-mode-icon {
    width: 26px;
    fill: #ffffff;
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
        opacity: 0.1;
    }
    50% {
        transform: translateY(-15px);
        opacity: 1;
    }
    100% {
        transform: translateY(5px);
        opacity: 0.1;
    }
}

/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                     ENDING DARK-LIGHT MODE TOGGLE SWITCH STYLE                                      */
/*                                                                                                                     */
/* ******************************************************************************************************************* */


/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                          DEFAULT DARK MODE AND CUSTOM STYLE                                         */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

/* NAVBAR STYLING */
.navbar-custom {
    border-top: 5px solid #1FCC8E;
    padding: 40px 10%;
    z-index: 2002;
    animation: onLoadFadeIn ease-in 1s;
}

.brand-logo {
    width: 120px;
}

.brand-logo svg {
    width: 100px;
}

.nav li {
    margin: 5px;
}

.top-links {
    font-size: 1.2em;
    color: #c4c4c4;
    font-weight: 600;
}

.top-links:hover, .top-links:active {
    color: #1FCC8E;
    transition: color 0.25s ease-in;
}

#active-link-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background-color: #1FCC8E;
}
  
.active-link {
    color: #1FCC8E !important;
}

/* NAVBAR STYLING AFTER PAGE IS SCROLLED */
.navbar.scrolled {
    border-top: 3px solid #1FCC8E;
    background-color: #181818!important;
    /* background-color: #333646 !important; */
    /*background-color: #E1E1E1;*/
    padding: 18px 8% 15px 8% !important;
    /* box-shadow: -2px 2px 8px -5px #141313; */
    box-shadow: -2px 2px 8px -5px #000000;
    transition: all 400ms linear;
}
  
.navbar.scrolled .top-links {
    color: #c4c4c4;
    font-size: 1em;
}
  
.navbar.scrolled .brand-logo svg {
    width: 60%;
    padding-top: 5px;
    transition: all 400ms linear;
}
  
.navbar.scrolled a.top-links:hover {
    color: #1FCC8E;
    transition: 0.5s ease;
}
  
.navbar.scrolled a.top-links-btn {
    color: #141313;
    border: 2px solid #141313;
}
  
.navbar.scrolled a.top-links-btn:hover {
    color: #1FCC8E;
    border: 2px solid #1FCC8E;
}
  
.navbar.scrolled #active-link-icon {
    top: 50%;
}
/* ENDING NAVBAR STYLING AFTER PAGE IS SCROLLED */

/* NAVBAR TOGGLE BUTTON STYLING ON SMALL SCREEN */
.navbar-toggler {
    outline: none !important;
}

.button-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Menu toggle button */
.icon {
      line-height: 0;
}
  
.menu-icon {
    text-align: right;
    width: 27px;
}
  
.menu-icon::after, .menu-icon::before {
    background-color: #1FCC8E;
    content: "";
    display: inline-block;
    height: 3px;
    width: 27px;
    margin: 3px 0;
    transition-duration: 0.4s;
}
  
.menu-icon::before {
    width: 27px;
  }
  
.menu-icon::after {
    width: 18px;
}
  
#menu-button:hover .menu-icon::before {
    width: 18px;
    transition-duration: 0.2s ease;
}
  
#menu-button:hover .menu-icon::after{
    width: 27px;
    transition-duration: 0.2s ease;
}
  
#menu-button[aria-expanded="true"] {
    background-color: #333646;
}
  
#menu-button[aria-expanded="true"] .menu-icon::before {
    transform: rotateZ(135deg) translate(3px, -3px);
    width: 27px;
}
  
#menu-button[aria-expanded="true"] .menu-icon::after {
    transform: rotateZ(-135deg) translate(3px, 3px);
    width: 27px;
}

.toggler-btn {
    z-index: 1;
}
/* ENDING NAVBAR TOGGLE BUTTON STYLING ON SMALL SCREEN */

/* NAVBAR LINK STYLING ON SMALL SCREEN */
/* .collapsing is default way of collapsing nav-links in bootstrap which we overide */
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.navbar-collapse.collapse.show {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #000000fd;
    animation: rightToLeft cubic-bezier(0.075, 0.62, 0.012, 1) 0.8s;
}

@keyframes rightToLeft {
    from {
        position: fixed;
        top: 50%;
        margin-left: 100%;
    }
    to {
        position: fixed;
        top: 50%;
        margin-left: 0%;
    }
}

.navbar-collapse.collapse.show #active-link-icon {
    display: none;
}

.navbar-collapse.collapse.show #top-toggle-label::before {
    position: relative;
    top: 27px;
}

.navbar-collapse.collapse.show #top-toggle-label::after {
    position: relative;
    top: -23px;
}
  
.navbar-collapse.collapse.show .top-main-links {
    position: fixed;
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
  
.navbar-collapse.collapse.show .top-main-links li {
    margin: 20px;
}
/* ENDING NAVBAR LINK STYLING ON SMALL SCREEN */

/* SECTION 1 STYLING */
.section-1 {
    min-height: 60vh;
    margin-top: 140px;
    padding: 80px 5%;
    animation: onLoadFadeIn ease-in 1s;
}

/* SUB-SECTION 1 LEFT ON STYLING */
.sect-1-sub-left-content h1 {
    color: #e7e7e7;
    font-family: 'Open Sans', sans-serif;
    font-size: 7em;
    letter-spacing: 1px;
}

.blinking-cursor {
    cursor: default;
    color: #e7e7e7;
    animation: blink 1.4s steps(2, start) infinite;
    animation-delay: 1s;
}

@keyframes blink {
    to {
      visibility: hidden;
    }
}

#canvas-sl1 {
    width: 120px;
    height: 10px;
    border-radius: 5px;
}

.banner-sub-stm {
    margin-top: 30px;
    color: #e7e7e7;
    font-weight: 500;
}

.banner-sub-stm span {
    position: absolute;
    top: 86.5%;
    margin-left: 20px;
    color: #1FCC8E;
    font-size: 2em;
}
/* ENDING SUB-SECTION 1 ON LEFT STYLING */

/* SUB-SECTION 1 ON RIGHT STYLING */
.sect-1-sub-right-content {
    padding: 20px 0 0 8%;
}

.sect-1-sub-right-content span {
    color: #A8A7A7;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.sect-1-sub-right-content h5 {
    color: #dadada;
    font-weight: 600;
    font-size: 1.9em;
    margin: 35px 0;
    letter-spacing: 1px;
}

.sect-1-sub-right-content p {
    color: #e2e2e2;
    font-weight: 300;
}

/* LOGIN-JOIN BUTTON STYLIING */
.login-join-btn a {
    margin-top: 36px;
    border-radius: 50px!important;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: none!important;
}

.join-now-btn {
    border: 2px solid #1FCC8E;
    color: #1FCC8E;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.7s ease;
}

.join-now-btn:hover {
    /* background-color: #e7e7e7; */
    background-color: #1FCC8E;
    color: #212121;
    border: 2px solid #1FCC8E;
    transform: translateY(-5px);
    transition: all 0.7s ease;
}

.login-btn {
    width: 97.88px;
    color: #000000;
    background-color: #e7e7e7;
    border: 2px solid #e7e7e7;
    transition: all 0.7s ease;
}

.login-btn:hover {
    color: #e7e7e7;
    background-color: #212121;
    border: 2px solid #e7e7e7;
    transform: translateY(-5px);
    transition: all 0.7s ease;
}

.join-now-btn:active, .login-btn:active {
    transform: scale(0.9);
    transition: transform 0.5s ease-out;
}

.join-now-btn:focus, .login-btn:focus {
    transform: scale(0.9);
}

/* ENDING LOGIN-JOIN BUTTON STYLIING */
/* ENDING SUB-SECTION 1 ON RIGHT STYLING */

/* POPUP STYLING */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #181818d8;
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    display: none;
    z-index: 2002;
    animation: scaleUp ease 0.2s;
}

/* when join-now or login button is clicked then this animation will be applied to popup container*/
@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.popup-body {
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    box-shadow: 15px 18px #11111193;
}

.popup-buttons-signup {
    margin: 20px 0;
}

.popup-btns {
    width: 350px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: none!important;
}

.github-icon-btn {
    position: relative;
    width: 7%;
    top: -2px;
    left: -70px;
    fill: #ffffff;
}

.google-icon-btn {
    position: relative;
    width: 6%;
    top: -2px;
    left: -70px;
    fill: #ffffff;
}

.github-btn {
    background-color: #141414;
    border: 2px solid #141414;
    transition: all 0.5s ease;
}

.github-btn:hover {
    color: #ffffff;
    background-color: #2b2b2b;
    border: 2px solid #141414;
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.034),
    0 6px 5px rgba(0, 0, 0, 0.048),
    0 1px 1px rgba(0, 0, 0, 0.06),
    0 2px 1.9px rgba(0, 0, 0, 0.072),
    0 4px 3px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12)!important;
}

.google-btn {
    background-color: #ea4335;
    border: 2px solid #ea4335;
    transition: all 0.5s ease;
}

.google-btn:hover {
    color: #ffffff;
    background-color: #2b2b2b;
    border: 2px solid #ea4335;
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.034),
    0 6px 5px rgba(0, 0, 0, 0.048),
    0 1px 1px rgba(0, 0, 0, 0.06),
    0 2px 1.9px rgba(0, 0, 0, 0.072),
    0 4px 3px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12)!important;
}

.email-btn {
    background-color: #1FCC8E;
    border: 2px solid #1FCC8E;
    transition: all 0.5s ease;
}

.email-btn:hover {
    color: #ffffff;
    background-color: #2b2b2b;
    border: 2px solid #1FCC8E;
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.034),
    0 6px 5px rgba(0, 0, 0, 0.048),
    0 1px 1px rgba(0, 0, 0, 0.06),
    0 2px 1.9px rgba(0, 0, 0, 0.072),
    0 4px 3px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12)!important;
}

.popup-btns:active {
    box-shadow: none;
    transform: scale(0.9);
    transition: transform 0.5s ease;
}

.popup-btns:focus {
    transform: scale(0.9);
}

.popup-body p {
    margin-bottom: 0;
}

.p1 {
    font-weight: 300;
    color: #e2e2e2;
}

.p1 a {
    color: #1FCC8E;
}
/* ENDING POPUP STYLING */

/* FOOTER STYLING */
footer {
    /* min-height: 34vh; */
    margin-top: 20px;
    padding: 110px 10% 2% 10%;
    /* background-color: #252734; */
    background-color: #181818;
    animation: onLoadFadeIn ease-in 1s;
    transition: background-color 1s ease;
}

/* FOOTER LINK STYLING */
footer ul {
    display: inline;
}

.footer-container {
    padding: 5% 0 0 0!important;
}
  
.footer-flex {
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.copyright-sect {
    color: #f4f4f4;
}

footer ul li {
    display: inline-block;
}
  
footer a {
    color: #c4c4c4;
    font-weight: 300;
}
  
footer a:hover {
    text-decoration: none;
    color: #1FCC8E;
    transition: color 0.4s ease;
}
/* ENDING FOOTER LINK STYLING */

.footer-copyright span {
    font-weight: 300;
}

.made-in-india {
    padding-top: 35px;
    padding-bottom: 20px;
    color: #c9c7c7;
}
/* ENDING FOOTER STYLING */

/* when page load this effect will work */
@keyframes onLoadFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                    DEFAULT DARK MODE AND CUSTOM STYLE ENDING                                        */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                                    LIGHT MODE STYLE                                                 */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

/* applied in html and body tag */
.light-mode {
    background-color: #ffffff;
}
/* applied in nav links, (tplink = top-link) */
.top-links.tplnk-light-mode {
    font-size: 1.2em;
    color: #252734;
    font-weight: 600;
}
.top-links.top-links.tplnk-light-mode:hover {
    color: #1FCC8E;
}
/* applied on navbar, (ns = navbar-scrolled) */
.navbar.scrolled.ns-light-mode {
    background-color: #ffffff!important;
    box-shadow: 0 0 4px 2px #dfdfdf;
}
/* applied after page scrolled, (tplnkscrd = top-link-scrolled) */
.navbar.scrolled .top-links.tplnkscrd-light-mode {
    /* color: #252734; */
    color: #212121;
}
/* applied on collapsed menu, (colpsdbg = collapsed background) */
.navbar-collapse.collapse.show.colpsdbg-light-mode {
    background-color: #f4f4f4fb;
}
/* applied on after scroll collapsed link */
.navbar.scrolled .show .top-links.colpsd-tplnk-light-mode {
    color: #252734;
}
/* applied on h1 of sub-sect1 left, (sect1 = section 1, lft = left) */
.sect-1-sub-left-content h1.h1-sect1-lft-light-mode {
    color: #181818;
}
/* blinking cursor, (blinkcur = blinking cursor) */
.sect-1-sub-left-content span.blinking-cursor.blinkcur-light-mode {
    color: #212121;
}
/* applied on p of sub-sect1 left */ 
.banner-sub-stm.p-sect1-lft-light-mode {
    color: #252525;
}
/* applied on span of sub-sect1 right, (sect1 = section 1, rgt = right) */
.sect-1-sub-right-content span.span-sect1-rgt-light-mode {
    color: #494949;;
}
/* applied on h5 of sub-sect1 right */
.sect-1-sub-right-content h5.h5-sect1-rgt-light-mode {
    color: #3f3f3f;
}
/* applied on p of sub-sect1 right */
.sect-1-sub-right-content p.p-sect1-rgt-light-mode {
    color: #303030;
}
/*applied on join now button NEED IMPROVEMENT */
.login-join-btn button.joinnow-btn-light-mode {
    color: #1FCC8E;
}
/* effect on hovering join now button */
.login-join-btn button.joinnow-btn-light-mode:hover {
    color: #ffffff;
}
/* applied on login button */
.login-join-btn button.login-btn-light-mode {
    color: #ffffff;
    background-color: #212121;
    border: 2px solid #212121;
}
/* effect on hovering login buttton */
.login-join-btn button.login-btn-light-mode:hover {
    color: #212121;
    background-color: #ffffff;
    border: 2px solid #212121;
}
/* applied on footer */
footer.footer-light-mode {
    background-color: #f3f3f3;
}
/* applied on copyright text (cpyrgt = copyright) */
.copyright-sect.cpyrgt-light-mode {
    color: #212121;
}
/* applied on links in footer, (ftlink = footer-link) */
footer a.ftlink-light-mode {
    color: #212121;
}
/* effects on hovering links of footer */
footer a.ftlink-light-mode:hover {
    color: #1FCC8E;
}
/* applied on made in india text */
.cntry-IN-light-mode {
    color: #212121;
    font-size: 1.2em;
}
/* applied on social icon in footer */
footer a.ftsocial-icon {
    color: #212121;
}

/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                              LIGHT MODE STYLE ENDING                                                */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                                       MEDIA QUERY                                                   */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

@media only screen and (max-width: 1080px) {

    .sect-1-sub-left-content h1 {
        font-size: 6em;
    }

    .sect-1-sub-left-content span {
        display: none!important;
    }
}

@media only screen and (max-width: 768px) {
    .sect-1-sub-right-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .footer-copyright {
        text-align: center;
    }

    .bottom-link {
        padding-top: 6%;
        text-align: center!important;
    }

    .popup-buttons-signup svg {
        width: 18px;
    }
    
    .popup-btns {
        width: 280px!important;
        color: #ffffff;
        font-weight: 500;
        box-shadow: none!important;
    }

    .github-icon-btn {
        position: relative;
        top: -2px;
        left: -35px;
        fill: #ffffff;
    }
    
    .google-icon-btn {
        position: relative;
        top: -2px;
        left: -35px;
        fill: #ffffff;
    }
}

@media only screen and (max-width: 425px) {
    .join-now-btn {
        margin-right: 24px;
    }

    .popup-buttons-signup {
        padding: 0%;
    }

    .popup-body {
        padding: 8%;
    }

    .footer-flex {
        margin-top: 20px;
    }
}







