/* copyrights BTC all rights reserved */
/* developer AMAN KUMAR v-0.2.5 */

html, body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background: linear-gradient(90deg, #212121 50%, #ffffff00 50%);
    /* min-height: 90vh; */
    height: 100%;
}

/* NAVBAR STYLING */
.navbar-custom {
    padding: 40px 5% 5px 5%;
}

.brand-logo {
    width: 120px;
}

.brand-logo svg {
    width: 80px;
}

.li-top-menu {
    font-size: 1em;
    font-weight: 400;
    border: 1px solid #181818;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.li-top-menu:hover {
    background-color: #181818;
    border: 1px solid #181818;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.li-top-menu #login {
    color: #181818;
    padding: .4rem 1rem;
    transition: all 0.5s ease;
}

.li-top-menu #login:hover {
    color: #ffffff;
    transition: all 0.5s ease;
}


.section-1 {
    min-height: 90vh;
    margin-top: 110px;
    padding: 18px 0 5px 0;
    padding-top: calc(((90vh - 694px) / 2));
    padding-bottom: calc(((90vh - 694px) / 2));
    padding-left: calc((50% - 450px) / 2);
    padding-right: calc((50% - 450px) / 2);
}

/* STYLING FORM */
.form-container {
    float: right;
    width: 450px;
    padding: 50px 58px;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    box-shadow: 0 0 8px 5px #f8f8f8;
    transition: all 0.5s ease;
}

.main-form {
    height: 554px;
}

/* STYLING head part of form */
.form-header h1 {
    font-size: 2em;
    color: #181818;
    font-weight: 500;
}

.form-header p {
    color: #313131;
    font-size: 0.9em;
    font-weight: 500;
}
/* STYLING head part of form */

/* STYLING input fields and icon */
/* OVERIDING BROWSER AUTOFILL STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #ffffff inset !important;
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    -webkit-text-fill-color: #000000 !important;
    animation: none!important;
    transition: none!important;
}
/* ENDING BROWSER AUTOFILL STYLES */

.form-group {
    height: 46px;
}

.grp-1 .email-field, .grp-2 .text-field, .grp-3 .pass-field, .grp-4 .confirmpass-field {
    border: 1px solid #555555;
    padding-left: 40px;
}

.text-field::placeholder, .email-field::placeholder, .pass-field::placeholder, .confirmpass-field::placeholder {
    padding-left: 5px;
}

.email-icon {
    position: relative;
    /* top: 311.45px; */
    /* top: 297.45px; */
    top: -33px;
    margin-left: 12px;
}

.user-icon {
    position: relative;
    /* top: 373.45px; */
    top: -33px;
    margin-left: 12px;
}

.lock-icon {
    position: relative;
    /* top: 435.45px; */
    top: -33px;
    margin-left: 12px;
}

.clock-icon {
    position: relative;
    /* top: 497.45px; */
    top: -33px;
    margin-left: 12px;
}

.grp-1 .email-icon, .grp-2 .user-icon, .grp-3 .lock-icon, .grp-4 .clock-icon {
    width: 20px;
    fill: #555555;
}

.form-control:focus {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #555555!important;
    outline: 0;
    box-shadow: none;
}

.email-field:focus + svg.email-icon path, .text-field:focus + svg.user-icon path, .email-field:focus + svg.user-icon path, .pass-field:focus + svg.lock-icon path, .confirmpass-field:focus + svg.clock-icon path {
    fill: #000000;
}
/* STYLING input fields and icon */

.signup-btn {
    color: #ffffff;
    width: 120px;
    border: 2px solid #181818;
    background-color: #181818;
    box-shadow: 0 0 6px 2px #ebebeb;
    transition: all 0.5s ease;
}

.signup-btn:hover {
    color: #ffffff;
}

.signup-btn:focus {
    box-shadow: none;
}

.signup-btn:active {
    transform: scale(0.9);
    transition: transform 0.5s ease;
}

.ex-signup-btns {
    height: 44px;
}

.login-btn {
    color: #ffffff;
    width: 120px;
    border: 2px solid #181818;
    background-color: #181818;
    box-shadow: 0 0 6px 2px #ebebeb;
    transition: all 0.5s ease;
}

.login-btn:hover {
    color: #ffffff;
}

.login-btn:focus {
    box-shadow: none;
}

.login-btn:active {
    transform: scale(0.9);
    transition: transform 0.5s ease;
}

.ex-login-btns {
    height: 44px;
}

.g-signin2 {
    float: left; 
    margin-left: 30px;  
    border-radius: .25rem!important;
}

.abcRioButtonLightBlue {
    border-radius: .25rem!important;
}

.abcRioButtonIcon {
    padding: 9px!important;
    margin-left: 14px;
}

.g-signin2 span {
    font-family: 'Quicksand', sans-serif!important;
    font-size: 13px!important;
    font-weight: 500;
    letter-spacing: normal;
    margin-left: 0;
    margin-right: 10px;
    vertical-align: auto;  
}

.github-signin {
    cursor: pointer;
    float: right;
    width: 120px;
    height: 36px;
    padding: 1px 0 0 0;
    margin-right: 30px;
    border-radius: .25rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.github-signin span {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #757575;
}

.github-icon {
    width: 34px;
    padding: 8px;
    /* margin-left: 10px; */
}

/* STYLING form bottom part containg privacy statement */
.p-bot {
    clear: both;
    font-size: 0.9em;
    font-weight: 400;
}

.p-bot a {
    color: #1fcc8e;
}

.p-bot a:hover {
    color: #0e9765;
}
/* STYLING form bottom part containg privacy statement */

/* FOOTER STYLING */
footer {
    width: 100%;
    padding: 0 3%;
    /* background-color: #181818; */
}

.footer-container {
    padding: 0 1% 1% 1%;
}
  
.footer-flex {
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.copyright-sect {
    color: #f4f4f4;
}

footer ul li {
    display: inline-block;
}
  
footer a {
    color: #181818;
    font-weight: 300;
}
  
footer a:hover {
    text-decoration: none;
    color: #1FCC8E;
    transition: color 0.4s ease;
}

.footer-copyright span {
    font-weight: 300;
}
/* ENDING FOOTER STYLING */


/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                                   BEHIND FORM DESING                                                */
/*                                                                                                                     */
/* ******************************************************************************************************************* */


/* STYLING CIRCLE */
.circle1 {
    /* clear: both; */
    position: fixed;
    top: 580px;
    left: 750px;
    /* left: 52%; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1fcc8d07;
    z-index: -1;
}

.circle2 {
    /* clear: both; */
    position: fixed;
    top: 180px;
    left: 1160px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1fcc8e0e;
    z-index: -1;
}

.circle3 {
    position: fixed;
    top: 130px;
    left: 660px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1fcc8d44;
    z-index: -1;
}

.circle4 {
    position: fixed;
    top: 730px;
    left: 1360px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1fcc8d8c;
    z-index: -1;
}

.circle5 {
    position: fixed;
    top: 630px;
    left: 1360px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1fcc8d8c;
    z-index: -1;
}

.circle6 {
    position: fixed;
    top: 300px;
    left: 820px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1fcc8d6b;
    z-index: -1;
}

.circle8 {
    position: fixed;
    top: 710px;
    left: 1260px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1fcc8d8c;
    z-index: -1;
}
/* END STYLING CIRCLE */


/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                 STYLING WHEN ERROR AND SUCCESS DETECTED IN FORM                                     */
/*                                                                                                                     */
/* ******************************************************************************************************************* */


/* STYLING error message */
.error {
    position: absolute;
    color: #da4343;
    font-size: 0.7em;
    font-weight: 500;
    margin-left: 10px;
}

.error-content {
    position: relative;
}
/* for LOGIN PAGE ERROR */
#textSpan {
    top: -17px;
}

#passSpan {
    top: -17px;
}
/* for LOGIN PAGE ERROR */

/* FOR SIGNUP PAGE ERROR PAGE */
#sTextSpan {
    top: -17px;
    /* top: 285.45px; */
    /* top: 141px; */
}

#usernameSpan {
    /* top: 203px; */
    /* top: 347.45px; */
    top: -17px;
}

#sPassSpan {
    /* top: 265px; */
    /* top: 409.45px; */
    top: -17px;
}

#confirmPassSpan {
    /* top: 327px; */
    /* top: 471.45px; */
    top: -17px;
}
/* FOR SIGNUP PAGE ERROR PAGE */

.empty-field-animation {
    animation-name: wobble;    
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: 50% 100%;
}

@keyframes wobble {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
/* STYLING error message */

/* STYLING INPUT FIELD AND ICON ON SUCCESS AND FAILURE */
.invalid {
    border: 2px solid #da4343!important;
}

.invalid + span.error {
    color: #da4343;
}

.invalid + .email-icon, .invalid + .user-icon, .invalid + .lock-icon, .invalid + .clock-icon {
    fill: #da4343;
}

.invalid:focus {
    box-shadow: none!important;
    border: 2px solid #da4343!important;
    outline: none;
}

.invalid:focus + svg.email-icon path, .invalid:focus + svg.user-icon path, .invalid:focus + svg.lock-icon path, .invalid:focus + svg.clock-icon path {
    fill: #da4343!important;
}

.valid {
    border: 2px solid #1fcc8e!important;
}

.valid + .email-icon, .valid + .user-icon, .valid + .lock-icon, .valid + .clock-icon {
    fill: #1fcc8e;
}

.valid:focus {
    box-shadow: none!important;
    border: 2px solid #1fcc8e!important;
    outline: none;
}

.valid:focus + svg.email-icon path, .valid:focus + svg.user-icon path, .valid:focus + svg.lock-icon path, .valid:focus + svg.clock-icon path {
    fill: #1fcc8e!important;
}

.email-wrong, .username-wrong, .pass-wrong, .c-pass-wrong {
    width: 16px;
    position: relative;
    left: 306px;
    top: -56px;
    display: none;
}

.email-wrong.invalid, .username-wrong.invalid, .pass-wrong.invalid, .c-pass-wrong.invalid {
    display: block;
    border: none!important;
}

.email-wrong-icon, .username-wrong-icon, .pass-wrong-icon, .c-pass-wrong-icon {
    fill: #da4343;
}

.email-correct, .username-correct, .pass-correct, .c-pass-correct {
    width: 16px;
    position: relative;
    left: 306px;
    top: -56px;
    display: none;
}

.email-correct.valid, .username-correct.valid, .pass-correct.valid, .c-pass-correct.valid {
    display: block;
    border: none!important;
}

.email-correct-icon, .username-correct-icon, .pass-correct-icon, .c-pass-correct-icon {
    fill: #1FCC8E;
}

/* STYLING WHEN WEAK PASSWORD IS DETECTED */
.weak-input-field {
    border: 2px solid #f08833!important;
}

#error-3.weak-input span.error {
    color: #f08833;
    border: none!important;
}

.weak-input-field + .lock-icon {
    fill: #f08833;
}

.weak-input-field:focus + svg.lock-icon path {
    fill: #f08833;
}

.weak-input-field:focus {
    border: 2px solid #f08833!important;
} 

.pass-wrong.weak {
    display: block;
}

.pass-wrong .pass-wrong-icon.weak {
    fill: #f08833;
}

/* STYLING WHEN MODERATE PASSWORD IS DETECTED */
.moderate-input-field {
    border: 2px solid #c2c51a!important;
}

#error-3.moderate-input span.error {
    color: #c2c51a;
}

.moderate-input-field + .lock-icon {
    fill: #c2c51a;
}

.moderate-input-field:focus + svg.lock-icon path {
    fill: #c2c51a;
}

.moderate-input-field:focus {
    border: 2px solid #c2c51a!important;
} 

.pass-wrong.moderate {
    display: block;
}

.pass-wrong .pass-wrong-icon.moderate {
    fill: #c2c51a;
}

/* STYLING WHEN STRONG PASSWORD IS DETECTED */
.strong-input-field {
    border: 2px solid #1FCC8E!important;
}

#error-3.strong-input span.error {
    color: #1FCC8E;
}

.strong-input-field + .lock-icon {
    fill: #1FCC8E;
}

.strong-input-field:focus + svg.lock-icon path {
    fill: #1FCC8E;
}

.strong-input-field:focus {
    border: 2px solid #1FCC8E!important;
} 

.pass-correct.strong {
    display: block;
}

.pass-correct .pass-correct-icon.strong {
    fill: #1FCC8E;
}

/* STYLING CONFIRM PASSWORD */
.c-pass-correct.matched {
    display: block;
} 

.c-pass-wrong.not-matched {
    display: block;
}

#error-4.matched span.error {
    color: #1FCC8E;
}


.confirmpass-field.matched + .clock-icon {
    fill: #1FCC8E;
}
/* STYLING INPUT FIELD ON SUCCESS AND FAILURE */


/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                                       MEDIA QUERY                                                   */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

@media only screen and (max-width:1024px) {
    .form-container {
        transform: scale(0.9);
        backface-visibility: hidden;
    }
}

@media only screen and (max-width: 900px) {

    html, body {
        background-color: #212121!important;
    }

    .navbar-custom {
        padding: 15px 5% 15px 5%;
        background-color: #212121;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    }

    .li-top-menu {
        border: 1px solid #ffffff;
    }
    
    .li-top-menu:hover {
        background-color: #ffffff;
        border: 1px solid #ffffff;
    }
    
    .li-top-menu #login {
        color: #ffffff;
    }
    
    .li-top-menu #login:hover {
        color: #000000;
    }

    .section-1 {
        margin-top: 86.17px;
        padding-top: calc(((90vh - 694px) / 2));
        padding-bottom: calc(((90vh - 694px) / 2));
        padding-right: calc((100% - 450px) / 2);
        padding-left: calc((100% - 450px) / 2);
    }

    .form-container {
        float: none;
        border: none;
        height: 656px;
        padding: 45.5px 58px;
        background-color: #212121;
        box-shadow: none;
        transform: scale(1);
    }

    .main-form {
        height: auto;
    }

    .form-header h1 {
        font-size: 2.4em;
        color: #1fcc8e;
    }
    
    .form-header p {
        color: #ffffff;
        font-size: 1em;
    }

    /* OVERIDING BROWSER AUTOFILL STYLES */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        box-shadow: 0 0 0 30px #212121 inset !important;
        -webkit-box-shadow: 0 0 0 30px #212121 inset !important;
        -webkit-text-fill-color: #ffffff !important;
        animation: none!important;
        transition: none!important;
    }
/* ENDING BROWSER AUTOFILL STYLES */

    .grp-1 .email-field, .grp-2 .text-field, .grp-3 .pass-field, .grp-4 .confirmpass-field {
        border: 1px solid #ffffff;
        background-color: #212121;
        color: #e6e6e6;
    }

    .text-field::placeholder, .email-field::placeholder, .pass-field::placeholder, .confirmpass-field::placeholder {
        color: #d4d4d4;
    }

    .grp-1 .email-icon, .grp-2 .user-icon, .grp-3 .lock-icon, .grp-4 .clock-icon {
        fill: #ffffff;
    }

    .form-control:focus {
        color: #d4d4d4;
        background-color: #212121;
        border: 2px solid #d4d4d4!important;
    }

    .email-field:focus + svg.email-icon path, .text-field:focus + svg.user-icon path, .email-field:focus + svg.user-icon path, .pass-field:focus + svg.lock-icon path, .confirmpass-field:focus + svg.clock-icon path {
        fill: #d4d4d4;
    }

    .signup-btn {
        color: #000000;
        font-weight: 500;
        border: 2px solid #1fcc8e;
        background-color: #1fcc8e;
        box-shadow: none;
    }
    
    .signup-btn:hover {
        color: #000000;
    }

    .p-bot {
        color: #d6d6d6;
    }

    .section-1 hr {
        border-top: 1px solid #b4b4b4!important;
    }

    .copyright-sect {
        color: #969595;
    }

    footer a {
        color: #ffffff;
    }

    .invalid:focus {
        box-shadow: none!important;
        border: 2px solid #da4343!important;
        outline: none;
    }

    .invalid + .email-icon, .invalid + .user-icon, .invalid + .lock-icon, .invalid + .clock-icon {
        fill: #da4343;
    }

    .valid:focus {
        box-shadow: none!important;
        border: 2px solid #1fcc8e!important;
        outline: none;
    }

    .valid + .email-icon, .valid + .user-icon, .valid + .lock-icon .valid + .clock-icon {
        fill: #1fcc8e!important;
    }
    
    .valid:focus + svg.email-icon path, .valid:focus + svg.user-icon path, .valid:focus + svg.lock-icon path, .valid:focus + svg.clock-icon path {
        fill: #1fcc8e!important;
    }

    /* STYLING WHEN WEAK PASSWORD IS DETECTED */
    .weak-input-field {
        border: 2px solid #f08833!important;
    }

    #error-3.weak-input span.error {
        color: #f08833;
        border: none!important;
    }

    .weak-input-field + .lock-icon {
        fill: #f08833;
    }

    .weak-input-field:focus + svg.lock-icon path {
        fill: #f08833;
    }

    .weak-input-field:focus {
        border: 2px solid #f08833!important;
    } 

    .pass-wrong.weak {
        display: block;
    }

    .pass-wrong .pass-wrong-icon.weak {
        fill: #f08833;
    }

    /* STYLING WHEN MODERATE PASSWORD IS DETECTED */
    .moderate-input-field {
        border: 2px solid #c2c51a!important;
    }

    #error-3.moderate-input span.error {
        color: #c2c51a;
    }

    .moderate-input-field + .lock-icon {
        fill: #c2c51a;
    }

    .moderate-input-field:focus + svg.lock-icon path {
        fill: #c2c51a;
    }

    .moderate-input-field:focus {
        border: 2px solid #c2c51a!important;
    } 

    .pass-wrong.moderate {
        display: block;
    }

    .pass-wrong .pass-wrong-icon.moderate {
        fill: #c2c51a;
    }

    /* STYLING WHEN STRONG PASSWORD IS DETECTED */
    .strong-input-field {
        border: 2px solid #1FCC8E!important;
    }

    #error-3.strong-input span.error {
        color: #1FCC8E;
    }

    .strong-input-field + .lock-icon {
        fill: #1FCC8E;
    }

    .strong-input-field:focus + svg.lock-icon path {
        fill: #1FCC8E;
    }

    .strong-input-field:focus {
        border: 2px solid #1FCC8E!important;
    } 

    .pass-correct.strong {
        display: block;
    }

    .pass-correct .pass-correct-icon.strong {
        fill: #1FCC8E;
    }

    /* STYLING CONFIRM PASSWORD */
    .c-pass-correct.matched {
        display: block;
    } 

    .c-pass-wrong.not-matched {
        display: block;
    }

    #error-4.matched span.error {
        color: #1FCC8E;
    }


    .confirmpass-field.matched + .clock-icon {
        fill: #1FCC8E;
    }
}

@media only screen and (max-width: 451px) {
    .form-container {
        width: auto;
        padding: 45.5px 58px;
    }

    .g-signin2 {
        margin-left: 0;  
    }

    .github-signin {
        margin-right: 0;
    }

    .email-wrong, .username-wrong, .pass-wrong, .c-pass-wrong {
        left: 90%;
    }

    .email-correct, .username-correct, .pass-correct, .c-pass-correct {
        left: 90%;
    }
}
