/* copyrights BTC all rights reserved */
/* developer AMAN KUMAR v-0.2.5 */

html, body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-top: 2px solid #1FCC8E;
    background-image: url(../img/mac-banner-parallax.jpeg);
    background-color: #9c937fa6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.section-1 {
    min-height: 100vh;
    background-color: #181818ab;
}

/* FORM STYLING */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #212121;
    width: 350px;
    padding: 2% 0;
    border-radius: 10px;
    box-shadow: 15px 15px #18181857;
}

.main-form {
    margin: 10% 0;
}

.form-header h1 {
    color: #1fcc8e;
    font-weight: 500;
}

.form-header hr {
    background-color: #1fcc8e!important;
    width: 20%;
}

.form-container p {
    color: #ffffff;
    font-weight: 400;
}

.form-header p a {
    color: #1FCC8E;
    text-decoration: none;
}

.form-container p a:hover, .form-header p a:active {
    color: #26AC9C;
    transition: color 0.3s ease;
}

.form-group {
    margin-bottom: 0.7rem;
}

.grp-1-signup, .grp-2-signup, .grp-3-signup {
    margin-bottom: 5px!important;
}

.text-field, .email-field, .pass-field {
    width: 68%;
    margin: auto;
    border-radius: 50px;
    border: 2px solid #ffffff;
    background-color: #212121!important;
    color: #ffffff!important;
    font-weight: 400;
    padding-left: 38px;
}

/* OVERIDING BROWSER AUTOFILL STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px #212121 inset !important;
    -webkit-box-shadow: 0 0 0 30px #212121 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    animation: none!important;
    transition: none!important;
}
/* ENDING BROWSER AUTOFILL STYLES */

.text-field::placeholder, .email-field::placeholder, .pass-field::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 0.9em;
    padding-left: 4px;
}
  
.text-field:-ms-input-placeholder, .email-field:-ms-input-placeholder, .pass-field:-ms-input-placeholder {
    color: #ffffff;
}
  
.text-field::-ms-input-placeholder, .email-field::-ms-input-placeholder, .pass-field::-ms-input-placeholder {
    color:#ffffff;
}

.text-field:focus, .email-field:focus, .pass-field:focus {
    background-color: #212121;
    border: 2px solid #adb1af;
    box-shadow: none;
}

.email-icon, .user-icon, .lock-icon {
    width: 15px;
    height: 15px;
    position: relative;
    top: -32.5px;
    left: 21%;
}

svg.email-icon path, svg.user-icon path, svg.lock-icon path {
    fill: #ffffff;
}

.email-field:focus + svg.email-icon path, .text-field:focus + svg.user-icon path, .email-field:focus + svg.user-icon path, .pass-field:focus + svg.lock-icon path {
    fill: #adb1af;
}

/* STYLING CUSTOM CIRCLE CHECKBOX */
.checkbox-circle {
    position: relative;
    top: -15px;
    left: 60px;
}

.label-remember {
    position: relative;
    top: -4.5px;
    left: -5px;
    padding-left: 10px;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
}
  
.checkbox-circle label.custom-label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    position: absolute;
    left: 0;
    top: 4px;
    width: 15px;
}
  
.checkbox-circle label.custom-label:after {
    border: 2px solid #181818;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    width: 8px;
    opacity: 0;
    position: absolute;
    top: 4px;
    left: 2.5px;
    transform: rotate(-45deg);
}
  
.checkbox-circle input[type="checkbox"] {
    visibility: hidden;
}
  
.checkbox-circle input[type="checkbox"]:checked + label.custom-label {
    background-color: #1FCC8E;
    border-color: #1FCC8E;
}
  
.checkbox-circle input[type="checkbox"]:checked + label.custom-label:after {
    opacity: 1;
}
/* ENDING STYLING CIRCLE CHECKBOX */

.signup-btn, .login-btn {
    color: #181818;
    font-weight: 600;
    width: 30%;
    border-radius: 50px;
    background-color: #1FCC8E;
    border: 2px solid #1FCC8E;
    /* box-shadow: none!important; */
    transition: all 0.5s ease;
    box-shadow: none!important;
}

.signup-btn:hover, .login-btn:hover {
    background-color: #212121;
    color: #e7e7e7;
    border: 2px solid #1FCC8E;
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.034),
    0 6px 5px rgba(0, 0, 0, 0.048),
    0 1px 1px rgba(0, 0, 0, 0.06),
    0 2px 1.9px rgba(0, 0, 0, 0.072),
    0 4px 3px rgba(0, 0, 0, 0.086),
    0 10px 8px rgba(0, 0, 0, 0.12)!important;
}

.signup-btn:active, .login-btn:active {
    transform: scale(0.9);
    transition: all 0.5s ease;
}

.signup-btn:focus, .login-btn:focus {
    transform: scale(0.9);
}

.p-bot {
    font-weight: 300!important;
    font-size: 0.9em;
    padding: 7% 15% 0 15%;
    margin-bottom: 0;
}

.p-bot a {
    color: #1FCC8E;
}

/* STYLING ERROR MESSAGE WHICH COMES IF WRONG INPUT ARE FILLED IN FORMS */
.error {
    position: absolute;
    padding-top: 3px;
    left: 80px;
    color: #da4343;
    font-size: 0.75em;
    font-weight: 600;
}
#textSpan {
    top: 208px;
}

#passSpan {
    top: 281px;
}
/* ENDING STYLING ERROR MESSAGE WHICH COMES IF WRONG INPUT ARE FILLED IN FORMS */
/* ENDING FORM STYLING */

/* FOOTER STYLING */
footer {
    width: 100%;
    padding: 0 10%;
    background-color: #181818;
}

.footer-container {
    padding: 1%;
}
  
.footer-flex {
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.copyright-sect {
    color: #f4f4f4;
}

footer ul li {
    display: inline-block;
}
  
footer a {
    color: #c4c4c4;
    font-weight: 300;
}
  
footer a:hover {
    text-decoration: none;
    color: #1FCC8E;
    transition: color 0.4s ease;
}

.footer-copyright span {
    font-weight: 300;
}
/* ENDING FOOTER STYLING */

/* ******************************************************************************************************************* */
/*                                                                                                                     */
/*                                                       MEDIA QUERY                                                   */
/*                                                                                                                     */
/* ******************************************************************************************************************* */

@media only screen and (max-width: 768px) {
    .form-container {
        width: 320px;
        height: auto;
    }

    form { 
        transform: scale(0.9);
        margin: 0 0!important;
    }
    
    .form-header h1 {
        color: #1fcc8e;
        font-weight: 600;
    }

    #textSpan {
        top: 145px;
    }
    
    #passSpan {
        top: 218px;
    }

    footer a, footer span {
        font-size: 0.9em;
    }

    .footer-copyright {
        text-align: center;
    }

    .bottom-link {
        text-align: center!important;
    }
}

@media only screen and (max-width: 425px) {
    html, body {
        background-image: none;
        background-color: #212121;
    }

    .section-1 {
        background: none;
    }

    .form-container {
        padding: 110px 20px;
        box-shadow: none;
        min-height: 100vh;
        width: 100%;
    }

    .main-form {
        transform: scale(1);
        margin: 20px 0!important;
    }

    .form-header h1 {
        font-size: 3em;
    }

    #textSpan {
        top: 155px;
    }
    
    #passSpan {
        top: 228px;
    }

    .checkbox-circle {
        left: 70px;
        margin-top: 20px;
    }
}

